{{- $kind := "定義" }}

{{- .Page.Scratch.Add "counter" 1 }}
{{- $name := printf "%s%d.%d" $kind .Page.Params.section (.Page.Scratch.Get "counter") }}
{{- $label := .Get "label" }}
{{- if (not $label) }}
    {{- $label = $name }}
{{- end }}
{{- $title := .Get "title" }}

<div class="definition" id="{{ $label }}" name="{{ $name }}" title="{{ $title }}" style="padding-top:100px;margin-top:-100px"></div>

<div class="box">
    <div class="title">
        {{ $name }}
        {{- if .Get "title" }}:  {{ .Get "title" }} {{- end }}
    </div>
    {{ .Inner }}
</div>
